
/* (index) */

.titulopagina{
	text-align: center;
	background-color: deeppink;
	color: white;
	font-family: "times new roman";
}

.fundo{
	background-image: url(imagens/fundo.jpg);
	height: 200px;
	margin-bottom: 50px;
}

.calcado{
	margin-left: 100px;
	margin-top: 40px;
}

.roupa{
	margin-top: 50px;
}

.maquiagem{
	margin-top: 50px;
}

/* Login */
.login
{
	background-color: black;
	color: white;
	font-family: "times new roman";
	margin-top: 10px;
	padding-left: 10px;
}
.formulariologin
{
	border:1px solid black;
	padding-top: 40px;
	padding-left: 20px;
	text-align: center;
	padding-bottom: 20px;
	margin-left: 600px;
	margin-top: 200px;
}
.fundologin
{
	
	background-image: url('fundo.jpg');
	height: 100px;
}


/*Cadastro*/
.cadastro
{
 background-color: black;
 color: white;
 font-family: "times new roman";
 margin-top: 10px;
 padding-left: 10px;
}

.formulariocadastro
{
border: 1px solid black;
padding-top: 40px;
padding-left: 20px;
text-align: center;
padding-bottom: 20px;
margin-left: 380px ;
margin-top: 40px; 
}

.descricao{
background-color: black;
color: white;
text-align: center;
font-family: "times new roman";
margin-top: 100px; 
}

.rodape{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
}

