
/* (index) */

.titulopagina{
	text-align: center;
	background-color: deeppink;
	color: white;
	font-family: "times new roman";
}

.fundo{
	background-image: url(fundo/fundo.jpg);
	padding: 100px;
	margin-bottom: 50px;
}

.looks{
	text-align: center;
}

.calcado{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
}

.roupa{
	margin-left: 100px;
	margin-top: 49px;
	border: 3px solid pink;
	padding-left: 70px;
}

.maquiagem{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
}

.desenvolvedoras{
	margin-top: 200px;
	background-color: pink;
	padding-bottom: 50px;
	padding-top: 50px;
}

.bia{
	margin-left: 220px;
}

.rayane{
	padding-left: 100px; 
}

.rayssa{
	padding-left: 150px;
}

.paragrafo{
	text-align: justify;
}

.descricao{
background-color: black;
color: white;
text-align: center;
font-family: "times new roman"; 
padding: 30px;
}

.rodape{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
}





/* Login */
.login
{
	background-color: black;
	color: white;
	font-family: "times new roman";
	margin-top: 10px;
	padding-left: 10px;
}


.formulariologin
{
	border:1px solid black;
	padding-top: 40px;
	padding-left: 20px;
	text-align: center;
	padding-bottom: 20px;
	margin-left: 600px;
	margin-top: 200px;
	margin-bottom: 250px;
}
.fundologin
{
	
	background-image: url('fundo.jpg');
	height: 100px;
}
.descricaologin{
background-color: black;
color: white;
text-align: center;
font-family: "times new roman"; 
padding: 25px;
}
.rodapelogin{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
	
}




/*Cadastro*/
.cadastro
{
 background-color: black;
 color: white;
 font-family: "times new roman";
 margin-top: 10px;
 padding-left: 10px;
}

.formulariocadastro
{
border: 1px solid black;
padding-top: 40px;
padding-left: 20px;
text-align: center;
padding-bottom: 20px;
margin-left: 380px ;
margin-top: 80px; 
margin-bottom: 150px;
}

.descricaocadastro{
background-color: black;
color: white;
text-align: center;
font-family: "times new roman"; 
padding: 25px;
}

.rodapecadastro{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
	
}





/*--------------Roupas--------------*/
.categoriaroupas
{
	background-color: black;
	color: white;
	font-family: "times new roman";
	margin-top: 10px;
	padding-left: 10px;
	text-align: center;
}

.fundoroupas{
	background-image: url(fundo/fundoroupas.jpg);
	height: 200px;
	margin-bottom: 50px;
}
.blusabasica{
	margin-left: 150px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 90px;
}
.blusapreta{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 100px;
}

.blusaverde{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
}

.calca{
	margin-left: 150px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 100px;
}

.calcacor{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 100px;
	padding-top: 50px;
}
.calcaelegante{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 50px;
}
.vestidorodado{
	margin-left: 150px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

.vestidolongo{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 100px;
	padding-top: 0px;
}
.vestidobranco{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 150px;
	padding-top: 70px;
}
.shortcinto{
	margin-left: 150px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 50px;
}

.shortjeans{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 80px;
}
.shortvermelho{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 100px;
	padding-top: 60px;
}

.saiapreta{
	margin-left: 150px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 50px;
}
.saiacorte{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 10px;
}
.saiaflorida{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

.descricaoroupas{
	background-color: black;
	color: white;
	text-align: center;
	font-family: "times new roman"; 
	padding: 25px;
	margin-top: 100px;
}

.rodaperoupas{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
	
}




/*-------CARRINHO-------*/

.carrinho{
	text-align: center;
	background-color: deeppink;
	color: white;
	font-family: "times new roman"
}

.fundocarrinho{
	background-image: url(fundo/fundocarrinho.jpg);
	padding: 100px;
	margin-bottom: 50px;
}

.itensguardados{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.saiaflorida{
	margin-left: 100px;
	margin-top:50px;
	border: 3px solid pink;
	padding-left:40px;
	padding-top: 20px;
}

.shortvermelho{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 20px;
}

.saiajeans{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
	padding-bottom: 30px;
	padding-top: 20px;
}

.batom{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
	padding-bottom: 30px;
	padding-top: 20px;
}

.sandalia{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
	padding-bottom: 30px;
	padding-top: 20px;
}

.sandaliaprata{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 60px;
	padding-top: 70px;
}

.descricaocarrinho{
background-color: black;
color: white;
text-align: center;
font-family: "times new roman"; 
padding: 30px;
margin-top: 150px;
}

.rodapecarrinho{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
}


/*-------CALÇADO--------*/


.fundocalcado{
	background-image: url(fundo/fundoroupas.jpg);
	height: 200px;
	margin-bottom: 50px;
}

.saltogrosso{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

.botafeminina{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

.rasteirinha{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 70px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.sapatilhalistrada{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 60px;
	padding-top: 30px;
}

.sapatenis{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

.sapatilhaconforto{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

.classica{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

.rasteira{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

.plataforma{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 80px;
	padding-top: 60px;
}

/*---------detalhe--------*/

.roupa{
	margin-left: 600px;
	padding-left: 50px;
  }