
/* (index) */

.titulopagina{
	text-align: center;
	background-color: deeppink;
	color: white;
	font-family: "times new roman";
}

.fundo{
	background-image: url(fundo/fundo.jpg);
	height: 200px;
	margin-bottom: 50px;
}

.calcado{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
}

.roupa{
	margin-left: 100px;
	margin-top: 49px;
	border: 3px solid pink;
	padding-left: 70px;
}

.maquiagem{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
}

.desenvolvedoras{
	margin-top: 200px;
	background-color: black;
}

.descricao{
background-color: black;
color: white;
text-align: center;
font-family: "times new roman"; 

}

.rodape{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
	
}





/* Login */
.login
{
	background-color: black;
	color: white;
	font-family: "times new roman";
	margin-top: 10px;
	padding-left: 10px;
}


.formulariologin
{
	border:1px solid black;
	padding-top: 40px;
	padding-left: 20px;
	text-align: center;
	padding-bottom: 20px;
	margin-left: 600px;
	margin-top: 200px;
}
.fundologin
{
	
	background-image: url('fundo.jpg');
	height: 100px;
}

.rodapelogin
{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
	margin-top: 250px;
}




/*Cadastro*/
.cadastro
{
 background-color: black;
 color: white;
 font-family: "times new roman";
 margin-top: 10px;
 padding-left: 10px;
}

.formulariocadastro
{
border: 1px solid black;
padding-top: 40px;
padding-left: 20px;
text-align: center;
padding-bottom: 20px;
margin-left: 380px ;
margin-top: 40px; 
}



/*--------------Roupas--------------*/
.categoriaroupas
{
	background-color: black;
	color: white;
	font-family: "times new roman";
	margin-top: 10px;
	padding-left: 10px;
	text-align: center;
}

.fundoroupas{
	background-image: url(fundo/fundoroupas.jpg);
	height: 200px;
	margin-bottom: 50px;
}
.blusabasica{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
}
.blusapreta{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
}

.blusaverde{
	margin-left: 100px;
	margin-top: 50px;
	border: 3px solid pink;
	padding-left: 50px;
}
.rodaperoupas
{
	background-color: deeppink;
	color: white;
	font-family: "times new romam";
	text-align: center;
	margin-top: 250px;
}